@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700');
@font-face {
  font-family: 'SackersGothic';
  src: url('./assets/fonts/sackersgothicstd-light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Goudy';
  src: url('./assets/fonts/GOUDOS.TTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}




html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}


html, body {
  height: 100%; /* Ensure both the html and body elements cover the entire height of the viewport */
  margin: 0;
  padding: 0; /* Remove default padding */
}

body {
  background: radial-gradient(circle, #044133 0%, #0e1d15 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #F2E9CC;
}
